@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@500;700&family=Raleway:wght@400;500&display=swap');

//Colores
$rosado-oscuro: #9E7474;
$rojo:#D85A5A;
$blanco:#FFFF;
$sombra:#707070;

//Fuentes
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$futura: 'Nunito', sans-serif;

//Tamaños
$size-1: 67px;
$size-2: 52px;
$size-3: 50px;
$size-4: 22px;
$size-5: 20px;
//Tipos
//$weights: ("bold": 700, "medium": 500, "regular": 400);
$weight-1: 700;
$weight-2: 500;
$weight-3: 400;
